body {
    background-color: #ccc;
}

#pagina {
    background-color: white;
}

#topo {
    padding: 20px;
    background-color: lightblue;
}

#conteudo {
    /* min-height: 800px; */
    padding: 40px;
}

.cards {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    justify-content: center;
    padding: 16px;
}
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 16px); /* Ajusta para caber 3 cartões por linha */
    min-width: 250px; /* Tamanho mínimo do cartão */
    max-width: 300px; /* Tamanho máximo do cartão */
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.card-head {
    padding: 8px;
    background-color: #e0e0e0;
    text-align: center;
}
.card-head p{
    margin-top: 15px; 
    font-weight: bold;
}
.card-head img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.card-body {
    padding: 8px;
    text-align: left;
    font-size: 14px;
}
.card-body p {
    margin: 4px 0; 
    line-height: 1.5;
}

.laranja {
    background: #f79d37;
}
.preto {
    background: #000000;
    color: #ccc;
}
.caramelo {
    background: #fdde55;
}
.branco {
    background: #ffffff;
    color: black;
}
.tricolor {
    background: linear-gradient(to right, white, rgb(250, 184, 84), rgba(136, 103, 71, 0.966));
    color: black;
}
