body {
    background-color: #ccc;
}

#pagina {
    background-color: white;
}

#topo {
    padding: 20px;
    background-color: lightblue;
}

#conteudo {
    /* min-height: 800px; */
    padding: 40px;
}

.card {
    margin: 0.5rem;
}
.card-img-top {
    padding: 1rem
}
.laranja {
    background: #f79d37;
}
.preto {
    background: #000000;
    color: #ccc;
}
.caramelo {
    background: #fdde55;
}
.branco {
    background: #ffffff;
    color: black;
}
.tricolor {
    background: linear-gradient(to right, white, rgb(250, 184, 84), rgba(136, 103, 71, 0.966));
    color: black;
}
